* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

 
body {
    background: url(img2.jpg) no-repeat center center/ cover;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background: #fff;
    padding: 8px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

li span {
    flex: 1;
    padding: 0 5px;
}

.edit, .delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

.edit {
    color: #007bff;
}

.delete {
    color: #dc3545;
}

.edit:hover {
    color: #0056b3;
}

.delete:hover {
    color: #b21f2d;
}
